html, body {
  width:100%;
  overflow-x:hidden;}
​
#movie-info {
  border: 2px solid grey;
  border-radius: 10px;
};
​
img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 10px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}
​
/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
}
​
.is-horizontal-center {
  justify-content: center;
};
​
​
.card.is-horizontal {
  display: flex;
  flex-basis: 50ex;
  flex-grow: 0;
  flex-shrink: 1;
}
.card.is-horizontal .card-image {
  flex: 4;
  flex-shrink: 1;
}
​
.card.is-horizontal .card-image .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card.is-horizontal .card-content {
  flex: 3;
}
.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.5;
}
.footer {
  padding: 10px;
  background-color: rgb(69, 67, 67)
  
}
.footer-text {
  color: white;
  text-align: center;
}
​
@media only screen and (max-width:600px) {
 .recent-search {
   width: 100px;
   height: 150px;
  }
  .recent-search-col {
    padding: 0px;
  }
  #main-film-poster {
    width: 100px;
    height: 150px;
  }
  #main-film-synopsis {
  font-size: 10px;
  }
  #main-film-name {
    font-size: 20px;
  }
  .SuggestedFilmImg {
    width: 100px;
    height: 150px;
    margin: 0px;
  }
  .tabs {
    font-size: 0.75rem;
  }
  #tabsContent {
    margin: 0px;
    padding: 0px;
  }
  #actorImg0,#actorImg1, #actorImg2,#actorImg3 {
    width: 80px;
    height: 80px;
    margin: 0px;
  }
  #directorImg0,#directorImg1, #directorImg2,#directorImg3 {
    width: 80px;
    height: 80px;
    margin: 0px;
  }
}
​
​
@media only screen and (min-width: 700px) {
  .recent-search {
    width: 300px;
    height: 450px;
   }
   
  #main-film-poster { 
    width: 300px;
    height: 450px;
    border-radius: 10px;
    margin: 5px;
  };
   .SuggestedFilmImg {
    width: 300px;
    height: 450px;
    margin: 1.5rem;
   }
   .tabs {
    font-size: 1.25rem;
  }
   #actorImg0,#actorImg1, #actorImg2,#actorImg3 {
    width: 200px;
    height: 200px;
    margin: 1.5rem;
  }
   #directorImg0,#directorImg1, #directorImg2,#directorImg3  {
    width: 200px;
    height: 200px;
    margin: 1.5rem;
   }
 }